In [4]:
import sqlite3
import csv

In [5]:
# Define a function to detect the type of a value
def detect_type(value):
    try:
        int(value)
        return 'INTEGER'
    except ValueError:
        try:
            float(value)
            return 'REAL'
        except ValueError:
            return 'TEXT'

# Define a generator function to clean the lines
def clean_lines(file):
    for line in file:
        yield line.replace('\0', '')

In [6]:
# Create a connection to the SQLite database
conn = sqlite3.connect('my_database.sqlite')

# Create a cursor object
cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS cases")

# Open CSV file
with open('/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/A_TblCase.csv', 'r', encoding='latin-1') as f:
    # Create a CSV reader with cleaned lines
    reader = csv.reader(clean_lines(f), delimiter='\t', quoting=csv.QUOTE_NONE)
    
    # Get the headers from the first row
    headers = next(reader)
    
    # Get the types from the first data row
    first_row = next(reader)
    types = [detect_type(value) for value in first_row]
    
    # Create a table
    cur.execute(f'CREATE TABLE cases ({", ".join(f"{name} {type}" for name, type in zip(headers, types))})')
    
    # Insert the first data row
    cur.execute(f'INSERT INTO cases VALUES ({", ".join("?" for _ in first_row)})', first_row)
    
    # Insert the remaining data rows
    for i, row in enumerate(reader, start=2):  # start=2 because we've already read two lines
        try:
            cur.execute(f'INSERT INTO cases VALUES ({", ".join("?" for _ in row)})', row)
        except Exception as e:
            print(f'Error on line {i}: {e}')
            continue  # Skip this row and move on to the next one

Error on line 2268091: table cases has 39 columns but 40 values were supplied
Error on line 2268114: table cases has 39 columns but 40 values were supplied
Error on line 2268148: table cases has 39 columns but 40 values were supplied
Error on line 2268187: table cases has 39 columns but 40 values were supplied
Error on line 2270178: table cases has 39 columns but 40 values were supplied
Error on line 2270216: table cases has 39 columns but 40 values were supplied
Error on line 6946189: table cases has 39 columns but 40 values were supplied
Error on line 6948176: table cases has 39 columns but 40 values were supplied
Error on line 6948360: table cases has 39 columns but 40 values were supplied
Error on line 6948369: table cases has 39 columns but 40 values were supplied
Error on line 6952430: table cases has 39 columns but 40 values were supplied
Error on line 6953103: table cases has 39 columns but 40 values were supplied
Error on line 8103385: table cases has 39 columns but 40 values were supplied
Error on line 8103389: table cases has 39 columns but 40 values were supplied
Error on line 8103390: table cases has 39 columns but 40 values were supplied
Error on line 8103395: table cases has 39 columns but 40 values were supplied
Error on line 8240887: table cases has 39 columns but 40 values were supplied
Error on line 8278367: table cases has 39 columns but 40 values were supplied
Error on line 8316151: table cases has 39 columns but 40 values were supplied
Error on line 8317521: table cases has 39 columns but 40 values were supplied
Error on line 8327819: table cases has 39 columns but 40 values were supplied
Error on line 8331943: table cases has 39 columns but 40 values were supplied
Error on line 8361810: table cases has 39 columns but 40 values were supplied
Error on line 8365000: table cases has 39 columns but 40 values were supplied
Error on line 8365481: table cases has 39 columns but 40 values were supplied
Error on line 8365596: table cases has 39 columns but 40 values were supplied
Error on line 8369684: table cases has 39 columns but 40 values were supplied
Error on line 8369914: table cases has 39 columns but 40 values were supplied
Error on line 8370844: table cases has 39 columns but 40 values were supplied
Error on line 8494427: table cases has 39 columns but 40 values were supplied
Error on line 8494428: table cases has 39 columns but 40 values were supplied
Error on line 8494429: table cases has 39 columns but 40 values were supplied
Error on line 8518965: table cases has 39 columns but 40 values were supplied
Error on line 8523876: table cases has 39 columns but 40 values were supplied
Error on line 8589773: table cases has 39 columns but 40 values were supplied
Error on line 8592250: table cases has 39 columns but 40 values were supplied
Error on line 8663081: table cases has 39 columns but 40 values were supplied
Error on line 8700906: table cases has 39 columns but 40 values were supplied
Error on line 8731209: table cases has 39 columns but 40 values were supplied
Error on line 8758450: table cases has 39 columns but 40 values were supplied
Error on line 8793556: table cases has 39 columns but 40 values were supplied
Error on line 8796316: table cases has 39 columns but 40 values were supplied
Error on line 8798470: table cases has 39 columns but 40 values were supplied
Error on line 8798927: table cases has 39 columns but 40 values were supplied
Error on line 8817060: table cases has 39 columns but 40 values were supplied
Error on line 8874675: table cases has 39 columns but 40 values were supplied
Error on line 9073192: table cases has 39 columns but 40 values were supplied
Error on line 9078067: table cases has 39 columns but 40 values were supplied
Error on line 9078186: table cases has 39 columns but 40 values were supplied
Error on line 9078586: table cases has 39 columns but 40 values were supplied
Error on line 9078746: table cases has 39 columns but 40 values were supplied

In [ ]:
# Comimt your changes and close the connection when finished
conn.commit()
conn.close()

In [9]:
cur.execute('SELECT * FROM cases LIMIT 10')
rows = cur.fetchall()

for row in rows:
    print(row)

(11812380, 'OAKLAND', 'CA', 94601, '', '', 'ES', 'SP', 'N', 'M', '', '', 'RMV', 'SFR', '2025-05-27 00:00:00.000', 1330, 'M', '', '', '', '', '', '', '2022-10-14 00:00:00.000', '', '11/2004', '', '', '', '', '', '', '', '', '', '', '', '', 'N/A')
(11812381, 'CARROLTON', 'TX', 75007, '', '', 'PE', 'SP', 'N', 'M', '', '', 'RMV', 'DAL', '2027-04-07 00:00:00.000', 1300, 'M', '', '', '', '', '', '', '2022-12-17 00:00:00.000', '', '10/1998', '', '', '', '', 'M', '', '', '', '', '', '', '', 'N/A')
(11812382, '', '', '', '', '', 'ER', 'ENG', 'N', 'M', '', '', 'RMV', 'NYC', '2023-11-28 00:00:00.000', 1030, 'M', '', '', '', '', '', '', '2023-05-03 00:00:00.000', '', '3/1992', '', '', '', '', 'M', '', '', '', '', '', '', '', 'N/A')
(11812383, 'SARASOTA', 'FL', 34234, '', '', 'VE', 'SP', 'N', 'M', '', '', 'RMV', 'ORL', '2025-07-15 00:00:00.000', 830, 'M', '', '', '', '', '', '', '2023-05-03 00:00:00.000', '', '7/1995', '', '', '', '', 'F', '', '', '', '', '', '', '', 'N/A')
(11812384, 'SARASOTA', 'FL', 34234, '', '', 'VE', 'SP', 'N', 'M', '', '', 'RMV', 'ORL', '2025-07-15 00:00:00.000', 830, 'M', '', '', '', '', '', '', '2023-05-03 00:00:00.000', '', '2/2016', '', '', '', '', 'F', '', '', '', '', '', '', '', 'N/A')
(11812385, 'PASSAIC', 'NJ', 7055, '', '', 'PE', 'SP', 'N', 'M', '', '', 'RMV', 'NEW', '2026-10-26 00:00:00.000', 1300, 'M', '', '', '', '', '', '', '2023-05-07 00:00:00.000', '', '9/1992', '', '', '', '', 'F', '', '', '', '', '', '', '', 'N/A')
(11812386, 'PASSAIC', 'NJ', 7055, '', '', 'PE', 'SP', 'N', 'M', '', '', 'RMV', 'NEW', '2026-10-26 00:00:00.000', 1300, 'M', '', '', '', '', '', '', '2023-05-07 00:00:00.000', '', '7/2010', '', '', '', '', 'F', '', '', '', '', '', '', '', 'N/A')
(11812387, 'MINNEAPOLIS', 'MN', 55417, '', '', 'EC', 'SP', 'N', 'M', '', '', 'RMV', 'BLM', '2024-04-09 00:00:00.000', 830, 'M', '', '', '', '', '', '', '2023-05-08 00:00:00.000', '', '5/1999', '', '', '2023-06-26 15:39:21.000', '', 'M', '', '', '', '', '', '', '', 'N/A')
(11812388, 'LEHIGH ACRES', 'FL', 33976, '', '', 'CO', 'SP', 'R', '', '', '', 'RMV', 'HSG', '2023-08-02 00:00:00.000', 1300, 'M', '', '', '', '', '', '', '2023-04-15 00:00:00.000', '', '', '', '', '', '', 'M', '2023-04-15 00:00:00.000', '2023-05-08 00:00:00.000', '', '', '', '', '', 'N/A')
(11812389, 'Queens', 'NY', 11101, '', '', 'CO', 'SP', 'N', 'M', '', '', 'RMV', 'NYC', '2023-12-13 00:00:00.000', 830, 'M', '', '', '', '', '', '', '2023-05-06 00:00:00.000', '', '6/2008', '', '', '2023-05-30 11:34:31.403', '', 'F', '', '', '', '', '', '', '', 'N/A')

In [10]:
conn.commit()
conn.close()